.title {
    color: #F03861;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    
}
.heart {
   color: #F03861;
   font-size: 3rem;
}

@media all and (min-width: 768px) {
    .title {
        font-size: 50px;
    }
}
