.title {
    color: #F03861;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

   
    
}
.heart {
    background-color: #F03861;
    border-radius: 10px;
}
