.list {
    display: grid;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EEEEEE;
    &__cards {
    list-style: none;
    
    }
}
.card {
    margin: 20px;
    color: #F03861;
    font-family: Arial, Helvetica, sans-serif;
    &__desc {
        color: #3b4055;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5px;
        font-size: 1rem;
    }
       
   &__img {
    border-radius: 10px;
    width: 15rem;
   
   }
  &__title {
     font-weight: bold;
     margin: 5px;
  } 
}

@media all and (min-width: 768px) {
    .list {
        display: flex;
        justify-content: center;
        align-items: center;

        &__cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px 50px;
        }
    }
}
@media all and (min-width: 1200px) {
    .list {
            display: flex;
            justify-content: center;
            align-items: center;
    
            &__cards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 10px 50px;
            }
        }
}

.subtitle {
    text-align: center;
    color: #F03861;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin: 2rem;
    
}

.contact {
     list-style: none;
     margin: 2rem;
     padding: 1rem;
     background-color: whitesmoke;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    &__img {
            border-radius: 20px;
            width: 15rem;
    
        }
     
}

.contact2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    &__title {
            color: #F03861;
            font-weight: bold;
            font-size: 1.5rem;
            margin-top: 1rem;
        }
    
        &__description {
            color: #413f40;
            font-size: 0.8rem;
            margin-top: 0.8rem;
        }
}



@media all and (min-width: 768px) {
    .subtitle {
        font-size: 2rem;
        padding: 1rem;
    }
    .contact {
        display: flex;
        flex-direction: row;
        padding: 3rem;
        margin: 4rem;
        &__img {
                border-radius: 10px;
                width: 15rem;
            }               
    }

    .contact2 {
        margin-left: 3.5rem;
    }
}

@media all and (min-width: 1200px) {
    .contact {
        margin: 6rem;
        &__img {
            width: 20rem;
            }
    }
    .contact2 {
        &__title {
            font-size: 2.3rem;
            padding: 0.5rem;
        }

        &__description {
            font-size: 1.5rem;
        }
    }
}


.back {
    margin: 1rem;
    &__icon {
        background-color: #F03861;
        color: #FEF2F2;
        width: 7rem;
        height: 2.5rem;
        border-radius: 40px;
        font-size: 2.5rem;
        cursor: pointer;
    }
}

@media all and (min-width: 768px) {
    .back {
            font-size: 2rem;
        }
    }


@media all and (min-width: 1200px){
    .back {
        font-size: 1.7rem;
    }
}