.list {
    display: grid;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    &__cards {
    list-style: none;

    }
}
.card {
    margin: 10px;
    color: #F03861;
  
       
   &__img {
    border-radius: 10px;
   
   }
  
}